<ul class="nav sidebar-left-list list-group" id="toolsMenuList">
	<li ng-repeat="firstLevel in menusOfModule | orderBy:'-CELL8'">
    	<a href="javascript:void(0);" class="first-level list-group-item" ng-click="toggleExpandNextLevel($event)">
            <i class="icon-th-list" style="color: gray"></i>
          	{{firstLevel.data.PERMISSION_NAME}}
          	<i class="icon-angle-left icon-large pull-right"></i>
        </a>
        <ul class="second" id="secondMenu" class="list-group">
            <li ng-repeat="subMenu in firstLevel.children | orderBy:'-CELL8' track by $index" class="list-group-item" on-repeat-finished-render>
                <a href="javascript:void(0);" ng-click="createWorkTab(subMenu.PERMISSION_ID,subMenu.PERMISSION_NAME,subMenu.PERMISSION_MARK)">
                    <i class="icon-arrow-right"></i>
                    {{subMenu.data.PERMISSION_NAME}}
                </a>
            </li>
        </ul>
    </li>
</ul>