<!-----------侧边栏模版---------->

<div ng-switch="selection">
    <!------------------------------------清结算管理侧边栏----------------------------------->
    <div id="sidebar_nav_bpcs_css" class="tab-pane active row-fluid">
        <ul class="nav sidebar-left-list" id="leftMenu">
            <li class="active">
                <a href="#" style="background: #6699CC"> 差异处理<i class="icon-angle-left pull-right"></i> </a>

                <ul class="second">
                    <li>
                        <a href="#" dataType='iframe' dataLink='static/pages/contentBox1.jsp'>
                            <i class="icon-double-angle-right"></i>
                            差异处理</a>
                    </li>
                    <li>
                        <a href="#" dataType='iframe' dataLink='static/pages/contentBox2.jsp'>
                            <i class="icon-double-angle-right"></i>
                            差异处理统计</a>
                    </li>
                    <li>
                        <a href="#" dataType='iframe' dataLink='static/pages/contentBox3.jsp'>
                            <i class="icon-double-angle-right"></i>
                            企业账户2.0差异统计</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">结算报表 <i class="icon-angle-left pull-right"></i></a>
                <ul class="second">
                    <li>
                        <a href="##">
                            <i class="icon-double-angle-right"></i>
                            报表审核</a>
                    </li>
                    <li>
                        <a href="##">
                            <i class="icon-double-angle-right"></i>
                            报表浏览</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">清算监控 <i class="icon-angle-left pull-right"></i></a>
                <ul class="second">
                    <li>
                        <a href="##">
                            <i class="icon-double-angle-right"></i>
                            过程监控</a>
                    </li>
                    <li>
                        <a href="##">
                            <i class="icon-double-angle-right"></i>
                            推送监控</a>
                    </li>
                    <li>
                        <a href="##">
                            <i class="icon-double-angle-right"></i>
                            银行机构T+2账前数报表</a>
                    </li>
                </ul>
            </li>
            <div class="clear"></div>
        </ul>
    </div>


    <!------------------------------------清结算配置侧边栏----------------------------------->
    <div id="sidebar_nav_bpcs_config">
        <ul class="nav nav-list">
            <li>
                <a href="#">传输配置</a>
                <ul class="second">
                    <li>
                        <a href="#" dataType='iframe' dataLink='static/pages/contentBox1.jsp'>
                            <i class="icon-double-angle-right"></i>
                            差异处理</a>
                    </li>
                    <li>
                        <i class="icon-double-angle-right"></i>
                        <a href="#" dataType='iframe' dataLink='static/pages/contentBox2.jsp'>差异处理统计</a>
                    </li>
                    <li>
                        <i class="icon-double-angle-right"></i>
                        <a href="#" dataType='iframe' dataLink='static/pages/contentBox3.jsp'>企业账户2.0差异统计</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">前置配置 </a>
                <ul class="second">
                    <li>
                        <a href="##">
                            <i class="icon-double-angle-right"></i>
                            二级目录A</a>
                    </li>
                    <li>
                        <a href="##">二级目录B</a>
                    </li>
                    <li>
                        <a href="##">二级目录C</a>
                    </li>
                    <li>
                        <a href="##">二级目录D</a>
                    </li>
                </ul>
            </li>
            <div class="clear"></div>
        </ul>
    </div>


    <!------------------------------------系统管理侧边栏------------------------------------->

    <div id="sidebar_nav_bpcs_system">
        <ul class="nav nav-list">
            <li>
                <a href="#">传输配置</a>
                <ul class="second">
                    <li>
                        <a href="#" dataType='iframe' dataLink='static/pages/contentBox1.jsp'>
                            <i class="icon-double-angle-right"></i>
                            差异处理</a>
                    </li>
                    <li>
                        <i class="icon-double-angle-right"></i>
                        <a href="#" dataType='iframe' dataLink='static/pages/contentBox2.jsp'>差异处理统计</a>
                    </li>
                    <li>
                        <i class="icon-double-angle-right"></i>
                        <a href="#" dataType='iframe' dataLink='static/pages/contentBox3.jsp'>企业账户2.0差异统计</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">前置配置 </a>
                <ul class="second">
                    <li>
                        <a href="##">
                            <i class="icon-double-angle-right"></i>
                            二级目录A</a>
                    </li>
                    <li>
                        <a href="##">二级目录B</a>
                    </li>
                    <li>
                        <a href="##">二级目录C</a>
                    </li>
                    <li>
                        <a href="##">二级目录D</a>
                    </li>
                </ul>
            </li>
            <div class="clear"></div>
        </ul>
    </div>
</div>